<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles1.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/dropdown_styles.css}" />

    <title>Submit ident</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="page">
    <div class="header">
        <div class="dropdown"><button class="dropbtn">USERS</button>
            <div class="dropdown-content">
                <a href="users">SHOW ALL</a>
                <a href="find_user">FIND USER</a>
                <a href="add_new_user">ADD NEW USER</a>
            </div>
        </div>
        <p id="logged_user"> {name of the current logged in user}</p>

    </div>


    <div class="container">
        <div class="div3">
            The user has been added. New user:
            <p th:text="'Id: ' + ${user.id}" />
            <p th:text="'Login: ' + ${user.login}" />
            <p th:text="'firstname: ' + ${user.firstName}" />
            <p th:text="'lastname: ' + ${user.lastName}" />
            <p th:text="'mail: ' + ${user.mail}" />




        </div>

        <div class="footer">
            <p id="shoutbox_reference"> {link to shoutbox}</p>
        </div>
    </div>
</body>