<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles1.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/dropdown_styles.css}" />

    <title>All users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="dropdown"><button class="dropbtn">USERS</button>
    <div class="dropdown-content">
        <a href="users">SHOW ALL</a>
        <a href="find_user">FIND USER</a>
        <a href="update_user_by_id_v2">UPDATE USER BY ID</a>
        <a href="delete_user_by_id">DELETE USER BY ID</a>
        <a href="add_new_user">ADD NEW USER</a>
    </div>
</div>



<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="styles1.css" />
    <link rel="stylesheet" type="text/css" href="dropdown_styles.css" />
    <title>Dropdown template</title>
</head>
<body>


<div class="header">
    <div class="dropdown"><button class="dropbtn">USERS</button>
        <div class="dropdown-content">
            <a href="users">SHOW ALL</a>
            <a href="find_user">FIND USER</a>
            <a href="add_new_user">ADD NEW USER</a>
        </div>
    </div>

    <p id="logged_user"> {name of the current logged in user}</p>

</div>


<div class="container">

    <div class="div2">div2 </div>
    <div class="div3">
        TODO: chosing one user
        <li th:each="user: ${users}">
            <p>-----------------------------------</p>
            <p th:text="'Id: ' + ${user.id}"/>
            <p th:text="'Login: ' + ${user.login}"/>
            <p th:text="'Firstname: ' + ${user.firstName}"/>
            <p th:text="'Lastname: ' + ${user.lastName}"/>
            <p th:text="'Mail: ' + ${user.mail}"/>
        </li>
    </div>


</div>

<div class="footer">
    <p id="shoutbox_reference"> {link to shoutbox}</p>
</div>
</body>
</html>