<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles1.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/dropdown_styles.css}" />

    <title>Submit ident</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="page">
<div class="header">
    <div class="dropdown"><button class="dropbtn">USERS</button>
        <div class="dropdown-content">
            <a href="users">SHOW ALL</a>
            <a href="find_user">FIND USER</a>
            <a href="add_new_user">ADD NEW USER</a>
        </div>
    </div>
    <p id="logged_user"> {name of the current logged in user}</p>

</div>


<div class="container">


    <div class="div3">
        <p>By which criterion do you want to find the user?</p>
        <form action="#" th:action="@{/find_user}" th:object="${findUserDto}" method="post">
            <p>Search parameter: <input type="text" th:field="*{searchCriterion}"/></p>

            <p>Search by category:</p>
            <select th:field="*{searchBy}">
                <option th:value="id" selected>Id</option>
                <option th:value="firstName">First name</option>
                <option th:value="lastName">Last name</option>
                <option th:value="login">Login</option>
                <option th:value="mail">Mail</option>
            </select>
            <p><input type="submit" value="Search user" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
</div>

<div class="footer">
    <p id="shoutbox_reference"> {link to shoutbox}</p>
</div>
</div>
</body>