<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles1.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/dropdown_styles.css}" />

    <title>Submit ident</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="page">
    <div class="header">
        <div class="dropdown"><button class="dropbtn">USERS</button>
            <div class="dropdown-content">
                <a href="users">SHOW ALL</a>
                <a href="find_user">FIND USER</a>
                <a href="add_new_user">ADD NEW USER</a>
            </div>
        </div>
        <p id="logged_user"> {name of the current logged in user}</p>

    </div>


    <div class="container">


        <div class="div3">
        <p>User info page</p>
        INFO ABOUT USER

        <p th:text="'Login: ' + ${foundUser.login}" />
        <p th:text="'Firstname: ' + ${foundUser.firstName}" />
        <p th:text="'Lastname: ' + ${foundUser.lastName}" />
        <p th:text="'Mail: ' + ${foundUser.mail}" />

        <form action="#" th:action="@{/delete_user_info}" th:object="${ident}" method="post">
        <p>User's ident: <input type="hidden" th:field="*{id}"/></p>
            <p><input type="submit" value="Delete user"  /></p>
        </form>
        <p>---------------------------------------------------------</p>
        <form action="#" th:action="@{/update_user_info}" th:object="${newUserTemplateToUpdateDTO}" method="post">
            <p>User's ident from passed : <p th:text="${ident.id}"/></p>
            <p>Login: <input type = "text" th:value="${foundUser.login}" th:id="login" th:name="login"></p>
            <p>First name: <input type = "text" th:value="${foundUser.firstName}" th:id="firstName" th:name="firstName"></p>
            <p>Last name <input type="text" th:value="${foundUser.lastName}" th:id="lastName" th:name="lastName"></p>
            <p>Mail:<input type = "text"th:value="${foundUser.mail}" th:id="mail" th:name="mail"></p>

            <p><input type="submit" value="Update user"  /></p>
            <p>---------------------------------------------------------</p>
        </form>



</div>

<div class="footer">
    <p id="shoutbox_reference"> {link to shoutbox}</p>
</div>
</div>
</body>